<div class="p-2 flex gap-2">
  <%= render NangkaUI::Badge.new { "Badge" } %>
  <%= render NangkaUI::Badge.new(variant: :seconday) { "Badge" } %>
  <%= render NangkaUI::Badge.new(variant: :outline) { "Badge" } %>
  <%= render NangkaUI::Badge.new(variant: :destructive) { "Badge" } %>
</div>
