<h1>NangkaUI v<%= NangkaUI::VERSION %></h1>

<div class="space-y-4">
  <%#= render "button" %>
  <%#= render "alert" %>
  <%#= render "badge" %>
  <%#= render "label" %>
  <%#= render "card" %>
  <%#= render "skeleton" %>
  <%= render "tabs" %>
</div>
